<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<!-- SqlSessionFactory工厂 -->
	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置Mybatis核心配置文件 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
	</bean>
	<!-- 接口 Mapper 扫描方式  自动 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zhangyu.core.dao"/>
	</bean>
</beans>